PORT=3000
DATABASE_URL=postgres://postgres:password@db.supabase.co:5432/postgres
REDIS_URL=redis://127.0.0.1:6379/0
STEAM_API_KEY=your_steam_api_key
IGDB_CLIENT_ID=your_igdb_client_id
IGDB_SECRET=your_igdb_secret
JWT_SECRET=super_secret_jwt_key
